---
import Layout from '@/layouts/Layout.astro';
import ListadoPropiedades from '@/components/ListadoPropiedades/ListadoPropiedades.astro';
import Buscador from '@/components/Buscador.jsx';
import BuscarButton from '@/components/BuscarButton';
import Breadcrumbs from '@/components/Breadcrumbs.jsx';
---

<Layout title="Todas las Propiedades">
  <Breadcrumbs pathname={Astro.url.pathname} client:load />
  <Buscador 
    showCiudad={true} 
    showTipoVenta={true} 
    showTipoAlquiler={true} 
    showAmbientes={true} 
    layout="horizontal" 
    className="mt-6 mb-6"
    client:load
/>
<div class="flex items-center mx-auto justify-center ">
  <BuscarButton client:load/>
</div>

  
  <ListadoPropiedades />
</Layout>